# Server Config
NODE_ENV=development # 'development', 'production', 'test'
PORT=3333
HOST=0.0.0.0

# LOGS Config
LOG_LEVEL=info # 'trace', 'debug' ,'info' ,'notice' ,'warn' ,'error' ,'critical' ,'alert' ,'emergency' ,'fatal' ,'all' ,'off'
LOG_ROTATION_SIZE=100m
LOG_ROTATION_INTERVAL=1d
LOG_KEEP_COUNT=7

# CORS Config
CORS_ORIGIN=*
CORS_METHODS=GET,POST,PUT,PATCH,DELETE
CORS_ALLOWED_HEADERS=Content-Type,Authorization

# SWAGGER Login Config
SWAGGER_USER=admin
SWAGGER_PASS=admin

# SAGGER Login Config
SAGGER_USER=admin
SAGGER_PASS=admin
