# Server Config
NODE_ENV=development # 'development', 'production', 'test'
PORT=3333
HOST=0.0.0.0

# LOGS Config
LOG_LEVEL=info # 'trace', 'debug' ,'info' ,'notice' ,'warn' ,'error' ,'critical' ,'alert' ,'emergency' ,'fatal' ,'all' ,'off'
LOG_ROTATION_SIZE=100m
LOG_ROTATION_INTERVAL=1d
LOG_KEEP_COUNT=7

# CORS Config
CORS_ORIGIN=*
CORS_METHODS=GET,POST,PUT,PATCH,DELETE
CORS_ALLOWED_HEADERS=Content-Type,Authorization,Accept-Language

# SWAGGER Login Config
SWAGGER_USER=admin
SWAGGER_PASS=admin

# Rate Limite Config
RATE_LIMIT_MAX=200
RATE_LIMIT_WINDOW=1 minute # 'ms', 's', 'm', 'h', 'd', 'second', 'seconds', 'minute', 'minutes', 'hour', 'hours', 'day', 'days', 'week'
RATE_LIMIT_SKIP_PATHS=/docs # '/docs', '/health', '/status'

# Database Config
DATABASE_URL=postgres://postgres:admin123@localhost:5432/omninexus

# DATABASE
DB_USER=postgres
DB_PASSWORD=admin123
DB_NAME=omninexus
DB_PORT=5432

# TUNING POSTGRES (baseline decente)
DB_MAX_CONNECTIONS=100
DB_SHARED_BUFFERS=128MB
DB_WORK_MEM=4MB
DB_MAINTENANCE_WORK_MEM=64MB

# RESOURCE LIMITS - DATABASE
DB_CPU_LIMIT=0.50
DB_MEMORY_LIMIT=512M
DB_CPU_RESERVATION=0.25
DB_MEMORY_RESERVATION=256M
