# Server Config
NODE_ENV=development
PORT=3333
HOST=0.0.0.0

# Logger Config
LOG_LEVEL=info
LOG_ROTATION_SIZE=100m
LOG_ROTATION_INTERVAL=1d
LOG_KEEP_COUNT=7

# Banco de Dados
DB_NAME=meu_projeto_db
DB_USER=admin
DB_PASS=minhasenha123
DB_PORT=5432

# Redis Config
REDIS_PORT=6379
REDIS_PASS=senha_do_redis_123

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin_pass_forte
GRAFANA_PORT=3000
